@import url(https://db.onlinewebfonts.com/c/6dd2f2510b4a00a5461b2455928209c2?family=Brandon+Grot+W01+Light);
@font-face {
    font-family: "Brandon Grot W01 Light";
    src: url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.eot");
    src: url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.svg#Brandon Grot W01 Light")format("svg");
}
* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}


.font {
    font-family: Brandon Grot W01 Light,sans-serif;
    font-size: 17px;
    color: #605E5E;
}

.about {
    padding: 20px;
}

.aboutFirst {
    display: flex;
}

.Vieme {
    width: 450px;
    height: 450px;
    /* background: red; */
} 
.Vieme img {
    width: 400px;
    height: 400px;
}

.content .btn {
    text-align: center;
}
.content .btn button {
    margin-top: 30px;
    padding: 8px 6px;
}